Body {
  background-color: #F5E8DD;
  height: 100vh;
}


p {
  margin: 0;
}

.title-container {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  margin: 0;
  align-items: center;
}
.title {
  font-family: Nothing You Could Do, cursive; 
  font-weight: 800; 
  font-style: normal;
  font-size: 130px;
  opacity: 0.2
}

.navbar-container {
  width: 100vw;
  height: 50px;
  background-color: black;
}

.project-dashboard {
  display: flex;
}

.todo-container {
  height: max-content;
  width: 300px;
  background-color: #CCD3CA;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  margin: 10px;
  opacity:1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.todo-container:active {
  cursor: grabbing;
}

.todo-handler {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.wrapper-container {
  height:fit-content;
  width: fit-content;
  margin: 30px;
}

.todo-close {
  cursor: pointer;
  margin: 5px;
  border-radius: 6px;
  width:min-content;
  height:min-content;
  transition: all 0.3s ease;
}

.todo-close:hover {
  box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.1);
  
}



.todo-name  {
  margin: 20px;
}

.todo-desc {
  margin:20px;
  word-wrap: break-word;
  overflow: hidden;
  white-space: normal;
}

.new-list-button {
  margin: 0;
  padding: 17px;
  border-radius: 50px;
  width:max-content;
  cursor: pointer;
  border: 0;
  background-color: #B5C0D0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

.new-list-button:hover {
  cursor: pointer;
  scale: 1.05;
  letter-spacing: 2px;
}

.new-list-button:active {
  letter-spacing: 3px;
  background-color: white;
  color: black;
  transform: translateY(2px);
  transition: 50ms;
}

.form-container {
  margin-top: 30px;
  width: max-content;
}

.hiddenDiv {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.visibleDiv {
  opacity: 1;
  max-height: 1000px; /* Adjust based on the expected maximum height of your content */
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.input-item {
  margin: 5px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.input-item:focus {
  border-color: black;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

}

.input-container {
  display: flex;
  flex-direction: column;
}
.description-container {
  display: flex;
  flex-direction: column;
}

select {
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

select:hover {
  cursor: pointer;
}

button {
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

button:hover {
  cursor: pointer;
}
