Body {
  background-color: #F5E8DD;
}

.navbar-container {
  width: 100vw;
  height: 50px;
  background-color: black;
}


.todo-container {
  height: 300px;
  width: 300px;
  background-color: #CCD3CA;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  margin: 10px;
}


.todo-container:active {
  cursor: grabbing;
}

.todo-handler {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.wrapper-container {
  height:fit-content;
  width: fit-content;
  margin: 30px;
}

.todo-name {
  margin: 20px;
}

/* .new-list-button {
  height: 50px;
  width: 70px;
  background-color: #B5C0D0;
  border-radius: 10px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  transition: scale 0.1s ease-in-out;
} */

.new-list-button {
  margin: 0;
  padding: 17px;
  border-radius: 50px;
  width:max-content;
  cursor: pointer;
  border: 0;
  background-color: #B5C0D0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

.new-list-button:hover {
  cursor: pointer;
  scale: 1.05;
  letter-spacing: 2px;
}

.new-list-button:active {
  letter-spacing: 3px;
  background-color: white;
  color: black;
  transform: translateY(2px);
  transition: 50ms;
}

.form-container {
  margin-top: 30px;
}
