Body {
  background-color: #fefdfc;
}

.navbar-container {
  width: 100vw;
  height: 50px;
  background-color: black;
}


.todo-container {
  height: 300px;
  width: 300px;
  background-color: #ffc93e;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  margin: 10px;
}


.todo-container:active {
  cursor: grabbing;
}

.todo-handler {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.wrapper-container {
  height:fit-content;
  width: fit-content;
  margin: 30px;
}

.todo-name {
  margin: 20px;
}

.new-list-button {
  height: 50px;
  width: 70px;
  background-color: green;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  transition: scale 0.1s ease-in-out;
}

.new-list-button:hover {
  cursor: pointer;
  scale: 1.05;
}

.form-container {
  margin-top: 30px;
}
